<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title></title> -->

    <!-- Bootstrap core CSS -->
    <!-- <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Additional CSS Files -->
    <!-- <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="static/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="static/css/owl.css">
    <link rel="stylesheet" href="static/css/lightbox.css"> -->

    <!-- <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

</head> -->

<!-- <body>
    <center>
        <div class="container" style="background-color: aliceblue; padding: 30px; border-radius: 5%;">     
            {% if email %}
            <form action="" method="post">
                <h3>Forgot Password</h3>
                <table>
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" name="uname" value="{{ uname }}" class="form-control" required></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="email" name="email" value="{{ email }}" class="form-control" required></td>
                    </tr>
                    <tr>
                        <th>OTP:</th>
                        <td><input type="text" name="otp1" class="form-control" required></td>
                    </tr>
                    <tr>
                        <th>New password:</th>
                        <td><input type="password" name="password" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit_otp" class="btn btn-info"></td>
                    </tr>
                </table>
            </form>
            {% else %}
            <form action="" method="post">
                <h3>Forgot Password</h3>
                <table>
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" name="uname" class="form-control" required></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="email" name="email" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit" class="btn btn-info"></td>
                    </tr>
                </table>
            </form>
            {% endif %}
        </div>
    </center>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ohari.com</title>
    <link rel="shortcut icon" type="image/png" href="/static/assets/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="/static/assets/css/styles.min.css" />
  </head>
  

<body>
                <form  method="post">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3 class="text-primary">Forgot Password</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <h6>Enter username</h6>
                            <input type="text" name="uname" class="form-control" required>
                        </div>
                        <div class="form-floating mb-3">
                            <h6>Enter email</h6>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <button type="submit" name="submit" class="btn btn-primary py-3 w-100 mb-4">Send OTP</button>
                    </div>
                </form>
</body>

</html>
