<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="/user_home">Home</a>
<a href="/user_view_profile"> View Profile</a>
<a href="/user_send_complaints"> Complaints</a>
<a href="/user_change_password"> Change Password</a>    
<a href="/logout"> Logout</a>  
 -->

 <!doctype html>
 <html lang="en">
 
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Ohari.com</title>
   <link rel="shortcut icon" type="image/png" href="/static/assets/images/logos/logo1.ico" />
   <link rel="stylesheet" href="/static/assets/css/styles.min.css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktYFUcE3evoEH3pWt5pw3hYbFZ9Y1GoCoUc8hZ9KW" crossorigin="anonymous">
   <style>
    .sidebar a {
      text-decoration: none !important;
  }
  
   </style>
 </head>
 
 <body>
   <!--  Body Wrapper -->
   <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
     <!-- Sidebar Start -->
     <aside class="left-sidebar">
       <!-- Sidebar scroll-->
       <div>
         <div class="brand-logo d-flex align-items-center justify-content-between">
           <a href="#" class="text-nowrap logo-img">
             <img src="/static/assets/images/logos/logo.ico" alt="" />
           </a>
           <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
             <i class="ti ti-x fs-8"></i>
           </div>
         </div>
         <!-- Sidebar navigation-->
         <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
           <ul id="sidebarnav">
             <li class="nav-small-cap">
               <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
               <span class="hide-menu">Home</span>
             </li>
             <li class="sidebar-item">
               <a class="sidebar-link" href="/user_home" aria-expanded="false">
                 <span>
                   <img src="/static/assets/images/logos/home.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu">Dashboard</span>
               </a>
             </li>
             <li class="nav-small-cap">
               <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
               <span class="hide-menu">ACTIONS</span>
             </li>
             <li class="sidebar-item">
               <a class="sidebar-link" href="/user_view_profile" aria-expanded="false">
                 <span>
                  <img src="/static/assets/images/logos/user.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu">View Profile</span>
               </a>
             </li>
                     <li class="sidebar-item">
               <a class="sidebar-link" href="/user_view_historical_stock" aria-expanded="false">
                 <span>
                  <img src="/static/assets/images/logos/chart-line-up.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu"> Predict</span>
               </a>
             </li>
             </li>
             <li class="sidebar-item">
               <a class="sidebar-link" href="/user_view_news" aria-expanded="false">
                 <span>
                  <img src="/static/assets/images/logos/news.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu"> News</span>
               </a>
             </li>
             <li class="sidebar-item">
              <a class="sidebar-link" href="/stock_ai_assistant" aria-expanded="false">
                <span>
                 <img src="/static/assets/images/logos/chatbot.png" style="width: 25px;">
                </span>
                <span class="hide-menu"> Stock AI Assistant</span>
              </a>
            </li>
             <li class="sidebar-item">
               <a class="sidebar-link" href="/user_send_complaints" aria-expanded="false">
                 <span>
                  <img src="/static/assets/images/logos/complaint.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu">Send Complaints</span>
               </a>
             </li>
             <li class="sidebar-item">
               <a class="sidebar-link" href="/user_change_password" aria-expanded="false">
                 <span>
                  <img src="/static/assets/images/logos/password.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu">Change Password</span>
               </a>
             </li>
             <li class="sidebar-item">
               <a class="sidebar-link" href="/logout" aria-expanded="false">
                 <span>
                  <img src="/static/assets/images/logos/logout.png" style="width: 25px;">
                 </span>
                 <span class="hide-menu">Logout</span>
               </a>
             </li>
            </ul>
         </nav>
         <!-- End Sidebar navigation -->
       </div>
       <!-- End Sidebar scroll-->
     </aside>
     <!--  Sidebar End -->